<div class="animate-up" id="project" ng-controller="projectCtl as vm">

    <div class="title">
        <i class="fa fa-android" aria-hidden="true"></i> Android
    </div>
    <md-card class="">
        <md-card-content>
            <div class="project-item">
                <h3>EV Dictionary</h3>
                <h4>March 2016</h4>
                <p>My first app. An English - Vietnamese dictionary.
                </p>
				<a target="_blank" href="https://play.google.com/store/apps/details?id=me.pnlinh.dictionary">
                    <img class="gg-play" src="img/ic_google_play.png"/>
                </a>
                <div id="EVdict" class="gallery">
                    <div class="row owl-carousel owl-theme">
                        <div class=" item">
                            <a class="thumbnail" href="img/project/evdictionary/1.PNG">
                                <img src="img/project/evdictionary/1.PNG">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/evdictionary/2.PNG">
                                <img src="img/project/evdictionary/2.PNG">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/evdictionary/3.PNG">
                                <img src="img/project/evdictionary/3.PNG">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/evdictionary/5.PNG">
                                <img src="img/project/evdictionary/5.PNG">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/evdictionary/6.PNG">
                                <img src="img/project/evdictionary/6.PNG">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/evdictionary/7.PNG">
                                <img src="img/project/evdictionary/7.PNG">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <md-divider></md-divider>

            <div class="project-item">
                <h3>BauCua 2017</h3>
                <h4>August 2017</h4>
                <p>Bau Cua 2017 - A Vietnamese traditional game. Can play multiple or single.</p>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=me.pnlinh.baucua">
                    <img class="gg-play" src="img/ic_google_play.png"/>
                </a>
                <div id="Baucua" class="gallery">
                    <div class="row owl-carousel owl-theme">
                        <div class=" item">
                            <a class="thumbnail" href="img/project/baucua/baucua (1).webp">
                                <img src="img/project/baucua/baucua (1).webp">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/baucua/baucua (5).webp">
                                <img src="img/project/baucua/baucua (5).webp">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        <div class=" item">
                            <a class="thumbnail" href="img/project/baucua/baucua (6).webp">
                                <img src="img/project/baucua/baucua (6).webp">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/baucua/baucua (2).webp">
                                <img src="img/project/baucua/baucua (2).webp">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/baucua/baucua (7).webp">
                                <img src="img/project/baucua/baucua (7).webp">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/baucua/baucua (3).webp">
                                <img src="img/project/baucua/baucua (3).webp">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>

            </div>

            <md-divider></md-divider>

            <div class="project-item">
                <h3>FindMyWork</h3>
                <h4>August 2017</h4>
                <p>Basic UI app for finding job</p>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.pnlinh.findmywork">
                    <img class="gg-play" src="img/ic_google_play.png"/>
                </a>
                <div id="FindMyWork" class="gallery">
                    <div class="row owl-carousel owl-theme">
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (1).png">
                                <img src="img/project/findmywork/work (1).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (2).png">
                                <img src="img/project/findmywork/work (2).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (3).png">
                                <img src="img/project/findmywork/work (3).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (4).png">
                                <img src="img/project/findmywork/work (4).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (5).png">
                                <img src="img/project/findmywork/work (5).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (6).png">
                                <img src="img/project/findmywork/work (6).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (7).png">
                                <img src="img/project/findmywork/work (7).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (8).png">
                                <img src="img/project/findmywork/work (8).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (9).png">
                                <img src="img/project/findmywork/work (9).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/findmywork/work (10).png">
                                <img src="img/project/findmywork/work (10).png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <md-divider></md-divider>

            <div class="project-item">
                <h3>GDMessenger</h3>
                <h4>January 2017</h4>
                <p>A mini social network using Firebase, allow chat and publish posts, like, comment
                    and more.</p>
                <div id="GDMessenger" class="gallery">


                    <div class="row owl-carousel owl-theme">
                        <div class=" item">
                            <a class="thumbnail" href="img/project/dgmessenger/0.jpg">
                                <img src="img/project/dgmessenger/0.jpg">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">

                            <a class="thumbnail" href="img/project/dgmessenger/1.png">
                                <img src="img/project/dgmessenger/1.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        <div class=" item">
                            <a class="thumbnail" href="img/project/dgmessenger/2.png">
                                <img src="img/project/dgmessenger/2.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        <div class=" item">
                            <a class="thumbnail" href="img/project/dgmessenger/3.png">
                                <img src="img/project/dgmessenger/3.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        <div class=" item">
                            <a class="thumbnail" href="img/project/dgmessenger/4.png">
                                <img src="img/project/dgmessenger/4.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        <div class=" item">
                            <a class="thumbnail" href="img/project/dgmessenger/5.png">
                                <img src="img/project/dgmessenger/5.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/dgmessenger/6.png">
                                <img src="img/project/dgmessenger/6.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>
            </div>

            <md-divider></md-divider>

            <div class="project-item">
                <h3>Shoe shop - Instant App</h3>
                <h4>January 2017</h4>
                <p>A small demo for <a href="https://developer.android.com/topic/instant-apps/index.html"> Android Instant App</a>.
                    Visit my <a href="https://instant.pnlinh.com/">website</a> on mobile to check it.
                </p>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.pnlinh.shoeshop">
                    <img class="gg-play" src="img/ic_google_play.png"/>
                </a>
                <div id="Instantapp" class="gallery">

                    <div class="row owl-carousel owl-theme">
                        <div class=" item">
                            <a class="thumbnail" href="img/project/instantapp/Instant_1.png">
                                <img src="img/project/instantapp/Instant_1.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/instantapp/Instant_2.png">
                                <img src="img/project/instantapp/Instant_2.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/instantapp/Instant_3.png">
                                <img src="img/project/instantapp/Instant_3.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class=" item">
                            <a class="thumbnail" href="img/project/instantapp/Instant_4.png">
                                <img src="img/project/instantapp/Instant_4.png">
                                <div class="overlay">
                                    <ul class="overlay-info">
                                        <div class="btn default btn-outline">
                                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </md-card-content>
    </md-card>

    <div class="title">
        <img src="img/angular-logo.svg" class="angular"/> Angular JS
    </div>
    <md-card class="">
        <md-card-content>
            <div class="project-item">
                <h3>Linkedin-hcmus</h3>
                <h4>March 2015</h4>
                <p>A website that allow create an online resume. See <a target="_blank"
                                                                        href="https://linkedin-hcmus-b38e0.firebaseapp.com">my
                    website</a> for more info </p>

                <div id="Linkedin" class="gallery"
                     style="    max-width: 350px;display: block;margin: 0 auto;">
                    <a class="thumbnail" href="img/project/linkedin/img.jpg">
                        <img src="img/project/linkedin/img.jpg">
                        <div class="overlay">
                            <ul class="overlay-info">
                                <div class="btn default btn-outline">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </md-card-content>
    </md-card>


    <div class="title">
        <i class="fa fa-leaf" aria-hidden="true"></i> Spring MVC
    </div>
    <md-card class="">
        <md-card-content>
            <div class="project-item">
                <h3>LTTravel</h3>
                <h4>March 2015</h4>
                <p>A travel website allow user to book tour, it also has admin dashboard to manage tour, country, hotel, restaurant</p>
				<p>Website: <a target="_blank" href="http://travel.pnlinh.me">http://travel.pnlinh.me</a></p>
				<p>Admin dashboard: <a target="_blank" href="http://travel.pnlinh.me/admin">http://travel.pnlinh.me/admin</a>. Username: <code style="font-size: 16px;">admin01</code>, Password: <code style="font-size: 16px;">admin</code></p>
                <div class="gallery">

                </div>
            </div>

        </md-card-content>

    </md-card>


</div>

