<div class="animate-up" id="overview" ng-controller="homeCtl as vm">
    <md-card class="">
        <md-card-content>
            <div class="overview-wrap">
                <div class="avatar">
                    <div class="circle-image">
                        <img src="img/me.jpg"/>
                    </div>
                </div>
                <h3>I'm <span> Pham Ngoc Linh</span></h3>
                <h4>Android Developer</h4>
                <md-divider></md-divider>
                <div class="row">
                    <div class="col-3">
                        <div>
                            <h5><i class="fa fa-calendar"
                                   aria-hidden="true"></i><span>&nbsp;&nbsp;08/11/1994</span></h5>

                            <h5><i class="fa fa-phone"
                                   aria-hidden="true"></i><span>&nbsp;&nbsp;+84 987 314 418</span>
                            </h5>
                            <h5><i class="fa fa-envelope"
                                   aria-hidden="true"></i><span>&nbsp;&nbsp;pnlinh.it@gmail.com</span>
                            </h5>

                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <h5><i class="fa fa-github" aria-hidden="true"></i><span>&nbsp;&nbsp;<a
                                    target="_blank"
                                    href="https://github.com/pnlinh-it">@pnlinh-it</a></span>
                            </h5>
                            <h5><i class="fa fa-skype" aria-hidden="true"></i><span>&nbsp;&nbsp;<a
                                    target="_blank"
                                    href="skype:pnlinh.it?chat">pnlinh.it</a></span>
                            </h5>
                            <h5><i class="fa fa-globe" aria-hidden="true"></i><span>&nbsp;&nbsp;<a
                                    target="_blank" href="http://pnlinh.com">pnlinh.com</a></span>
                            </h5>
                        </div>
                    </div>

                </div>
            </div>


        </md-card-content>

    </md-card>
    <div class="title">

    </div>

    <md-card>
        <md-card-content>
            <div class="summary">
               I have more than 2 years experience in Adroid develoment. I am a hard working person and intersted in learning new technology to build modern Android appications. 
			   <br/>I also have basic knowledge about Web development.
            </div>
        </md-card-content>
    </md-card>
    <div class="title">
        Skill
    </div>
    <md-card>
        <md-card-content>
            <div id="skill">
                <div class="row">
                    <div class="col-6">
                        <div class="slider-top">
                                    <span>
                                        Android
                                    </span>

                        </div>
                        <div class="slider-content">
                            <span style="width: 70%"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="slider-top">
                            HTML/CSS
                        </div>
                        <div class="slider-content">
                            <div class="slider-content">
                                <span style="width: 50%"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="slider-top">
                                    <span>
                                       Spring MVC
                                    </span>

                        </div>
                        <div class="slider-content">
                            <span style="width: 50%"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="slider-top">
                            Laravel
                        </div>
                        <div class="slider-content">
                            <div class="slider-content">
                                <span style="width: 55%"></span>
                            </div>
                        </div>
                    </div>
                </div>
				
            </div>
        </md-card-content>
    </md-card>

    <div class="title">
        Experience
    </div>

    <md-card>
        <md-card-content>
            <div id="experience">
                <section id="cd-timeline" class="cd-container">
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <i class="fa fa-android" aria-hidden="true"></i>
                        </div>

                        <div class="cd-timeline-content">
                            <h2>Android Developer</h2>
								<p>Maintained and developed new features for  Android applications used on phones and tablets.</p>
								<p>Write RESTful services with <a target="_blank" style="color: #07cb79" href="https://laravel.com/">Laravel</a> and deploy to web service</p>
                            <div class="row">
                                <div class="col-6">
                                    <span class="cd-date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                        &nbsp;&nbsp;06/2017 - 07/2018</span>
                                </div>
                                <div class="col-6">
                                    <i class="fa fa-globe" aria-hidden="true"></i><span>&nbsp;&nbsp;<a target="_blank" href="http://isb-vietnam.com.vn/">ISB - Vietnam</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <i class="fa fa-android" aria-hidden="true"></i>
                        </div>

                        <div class="cd-timeline-content">
                            <h2>Junior Android Developer</h2>
                            <p>Develop Live Stream App. Work with Firebase(Auth, Database, FCM),
                                Animation,
                                CustomView.</p>

                           <div class="row">
                               <div class="col-6">
                                    <span class="cd-date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                        &nbsp;&nbsp;01/2016 - 05/2017</span>
                               </div>
                               <div class="col-6">
                                   <i class="fa fa-globe" aria-hidden="true"></i><span>&nbsp;&nbsp;<a target="_blank" href="http://vietkite.com/">Vietkite</a></span>
                               </div>
                           </div>
                        </div>
                    </div>
                </section>


            </div>
        </md-card-content>
    </md-card>


    <div class="title">
        Education
    </div>

    <md-card>
        <md-card-content>
            <div id="education">
                <h3>University of Science</h3>
                <h4>Information Technology</h4>
                <h4>2012 - 2017</h4>
                <img src="img/hcmus_logo.png"/>

            </div>
        </md-card-content>
    </md-card>
</div>